In [12]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
 df = pd.read_csv(r"C:\Users\91957\Downloads\gender_submission.csv")
print(df.dtypes)

PassengerId    int64
Survived       int64
dtype: object

In [3]:
df.head(10)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0

In [4]:
#Print number of rows in DF
print(f"Rows: {df.shape[0]} \n")
#Print number of features in DF
print(f"Features: {df.shape[1]} \n")
#Print total number of missing values
print(f"Missing Values: {df.isnull().values.sum()} \n")
#Print number of unique values per feature location
print(f"Unique Values: {df.nunique()} \n")

Rows: 418

Features: 2

Missing Values: 0

Unique Values: PassengerId    418
Survived         2
dtype: int64

In [5]:
df.shape

(418, 2)

In [6]:
df.isna().sum()

PassengerId    0
Survived       0
dtype: int64

In [7]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
413    False
414    False
415    False
416    False
417    False
Length: 418, dtype: bool

In [8]:
df = df.drop_duplicates()
print("Dimensions after removing duplicates: ", df.shape)

Dimensions after removing duplicates:  (418, 2)

# OUTLIER TREATMENT

In [10]:
from scipy.stats import zscore
z_scores = np.abs(zscore(df.select_dtypes(include=[np.number])))
df = df[(z_scores < 3).all(axis=1)]
print("Dimensions after removing outliers using 3 sigma: ", df.shape)

Dimensions after removing outliers using 3 sigma:  (418, 2)

# Missing Value Treatment

In [13]:
numeric_imputer = SimpleImputer(strategy='mean')
categorical_imputer = SimpleImputer(strategy='most_frequent')

for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = categorical_imputer.fit_transform(df[[col]])
    else:
        df[col] = numeric_imputer.fit_transform(df[[col]])

print("Dimensions after imputing missing values: ", df.shape)

Dimensions after imputing missing values:  (418, 2)

In [14]:
print(df.describe())

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000